.font14 {font-size: 14px !important;}
.font16 {font-size: 16px !important;}
.font18 {font-size: 18px !important;}
.font20 {font-size: 20px !important;}
.font22 {font-size: 22px !important;}
.userListHeader {
    height: 80px;
    padding: 0 20px;
    background: #F6F9FB;
}
.searchBar {
	float: left;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
}
.number-info {
	float: right;
	height: 100%;
	padding: 0 20px;
	display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}
.number-info span {
	font-size: 20px;
	color: #000;
}
.data-picker-bar {
	padding: 20px;
}
.data-picker-bar label {
	margin-right: 10px;
}

.user-avatar-bar {
	display: -webkit-box;
	-webkit-box-align: center;
}
.user-avatar {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #becfe0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.user-avatar-bar-text {
	margin-left: 8px;
}
.user-avatar-bar-text .name{
	font-size: 13px;
}

/*信息资产详情*/
.box-align{
	display:-webkit-box !important;
	-webkit-box-align:center;
	-webkit-box-pack: center;
}
.box-justify-flex {
	width: 100%;
	display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
/**********以盒子的形式显示*************/
.k-box-center {
	position: relative;
	display: -webkit-box;
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
/*信息资产分配 */
.column-txt {text-align: center !important;}
.q-user-txt{
	padding-bottom: 15px;
	padding-top: 15px;
}
.q-user-txt>div{margin: auto}
.q-info-avatar{
	width: 80px;
	height: 80px;
	-webkit-border-radius: 200px;
	overflow: hidden;
}
.q-info-avatar>span{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-webkit-border-radius: 200px;
}
.btn-bg-ff9{
	border-color: #ff9326;
	background-color: #ff9326;
}
.btn-bg-ff9:hover{
	border-color: #fca54d;
	background-color: #fca54d;
}
.border{border: 1px solid #e9e9e9;}
.border-t{border-top: 1px solid #e9e9e9;}
.border-b{border-bottom: 1px solid #e9e9e9;  }
.border-r{border-right: 1px solid #e9e9e9;}
.border-l{border-left: 1px solid #e9e9e9;  }
.border-tb{
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;;
}
.margin-t-5 {margin-top :5px;}
.margin-b-5 {margin-bottom: 5px;}
.margin-b-20 {margin-bottom: 20px;}
.margin-r-10 {margin-right: 10px;}
.margin-r-15 {margin-right: 15px;}
.margin-l-15 {margin-left: 15px;}
.margin-l-40 {margin-left: 40px;}
/*权限分配*/
.btn-orange{
    background-color: #ff652d;
    border-color: #ff652d;
}
.btn-orange:hover{
    background-color: #fe7949;
    border-color: #fe7949;
}
.q-padding-lr-15{
    padding-left: 15px;
	padding-right: 15px;
}
.q-padding-tb-15{
	padding-bottom: 15px;
	padding-top: 15px;
}
.q-brokerage-user{
    position: relative;
    display: -webkit-box;
    -webkit-box-align:center;
}
.q-brokerage-avatar{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 200px;
    overflow: hidden;
}
.q-brokerage-avatar>span{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #becfe0;
    -webkit-background-size: cover;
    -webkit-border-radius: 200px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
}
/*下载中心*/
.download-tag{
    display:-webkit-box !important;
	-webkit-box-align:center;
    width: 100%;
    padding: 20px 10px;
    border: 1px #ddd solid;
}
.download-module{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.download-module .download-module-list{
    width: 250px;
    margin: 20px 15px;
    float: left;
    border: 1px #ddd solid;
}

.download-module-list .download-module-cover>span{
    display: block;
    width: 100%;
    padding-top: 70%;
    background-size: cover;
    background-position: center;
}
.download-describe{
    padding: 10px;
}
.download-describe>div{
    line-height: 28px;
}
.download-btn{
    padding: 10px 10px ;
}
